footer {
  text-align: center;
  color: $grey-dark;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.hero-foot {
  .is-active {
    font-weight: bold;
  }
}

.breadcrumb {

  a {
    color: $primary;
  }
}

.field-label {
  min-width: 180px;
}

.is-small-number {
  width: 40px;
  text-align: center;
}

button {
  .fa {
    margin-right: 5px;
  }
}