footer {
  text-align: center;
  color: $grey-dark;
  div {
    padding-bottom: 10px;
  }
  a {
    font-weight: bolder;
    color: $grey-dark;
  }
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.hero-foot {
  .is-active {
    font-weight: bold;
  }
}

.breadcrumb {

  a {
    color: $primary;
  }
}

.field-label {
  min-width: 180px;
}

.is-small-number {
  width: 40px;
  text-align: center;
}

button {
  .fa {
    margin-right: 5px;
  }
}

.page-link {
  color: $primary;
}

.is-important {
  font-weight: bolder;
}

table {
  a {
    color: $primary;
  }
}

.icons {
  i {
    padding-right: 20px;
  }
}

.landingpage {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  h2 {
    color: $grey-dark;
  }
  a {
    color: $primary;
  }
}