footer {
  text-align: center;
  color: $grey-dark;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.hero-foot {
  .is-active {
    font-weight: bold;
  }
}

.breadcrumb {

  a {
    color: $primary;
  }
}

button {
  .fa {
    margin-right: 5px;
  }
}