

/* 
 * Align footer to page bottom
 */

.el-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.el-main {
  flex: 1;
}

/*
 * Footer markup
 */

.el-footer {
  background-color: $footer-background-color;
  text-align: center;
  color: $footer-text;
  padding-top: 20px;
  height: 160px;
}

.logo {
  display: block;
  height: 60px;
}

/*

.hero-foot {
  .is-active {
    font-weight: bold;
  }
}

.breadcrumb {

  a {
    color: $primary;
  }
}

.field-label {
  min-width: 180px;
}

.is-small-number {
  width: 40px;
  text-align: center;
}

button {
  .fa {
    margin-right: 5px;
  }
}

table {
  a {
    color: $primary;
  }
}

*/
